    body {
        margin: 0;
        padding: 0;
        /* background: #c4b3a779; */
        /* background: #e9dfced2; */
        background: #222b26;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }


    .mute-btn {
        position: absolute;
        color: #EDE6D6;
        top: 20px;
        right: 20px;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        z-index: 999;
        background: transparent;
    }

    .text {
        width: 600px;
        height: 150px;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .text h1 {
        color: #EDE6D6;
        font-size: 4rem;
        font-family: "Great Vibes", cursive;
        text-shadow: 23px 18px 5px;
    }

    .main {
        /* border: 1px solid red; */
        background: url(img/3.jpg) no-repeat center / cover;
        width: 600px;
        height: 100vh;
        position: relative;
    }

    .main img {
        position: relative;
    }

    .title {
        color: #EDE6D6;
        font-weight: bold;
        font-size: 3.5rem;
        padding: 30px 0 0 27px;
    }

    .container {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #EDE6D6;
    }

    .text2 {
        /* border: 1px solid red; */
        width: 500px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .text2 h2 {
        font-weight: 500;
        font-family: "Zain", sans-serif;
        color: #2a4b38;
        font-size: 28px;
    }

    .text2 h3 {
        text-align: center;
        color: #2a4b38;
        font-weight: 500;
        line-height: 30px;
        margin: -4px 0px 9px 0px;
    }

    .calendar {
        width: 500px;
        height: 350px;
        /* border: 1px solid red; */
        margin-top: 20px;
    }

    .calendar h2 {
        text-align: center;
        margin-bottom: 24px;
        color: #2a4b38;
        font-weight: 500;
        font-size: 30px;
    }

    .calendar .day-names,
    .calendar .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
    }

    .day-names div {
        font-weight: bold;
        padding: 5px;
        color: #2a4b38;
    }

    .dates div {
        padding: 10px;
        margin: 2px;
        background: #EDE6D6;
        border-radius: 6px;
        color: #2a4b38;
        position: relative;
    }

    .dates img {
        position: absolute;
        width: 60px;
        display: inline-block;
        margin: -20px 0px 0px -32px;
    }

    .dates div.empty {
        background: none;
    }

    .grid {
        width: 100%;
        background: #222b26;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0rem 3rem 0rem;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 560px;
        width: 100%;
    }

    .photo-grid img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.2s ease;
    }

    .photo-grid img:hover {
        transform: scale(2.03);
    }

    /* modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 40px;
        width: 100%;
        height: 100%;
        background: #222b26;
        justify-content: center;
        align-items: center;
    }

    .modal img {
        max-width: 90%;
        max-height: 90%;
        border-radius: 10px;
    }

    .modal:active {
        display: none;
    }

    .timing-title {
        /* border: 1px solid blue; */
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EDE6D6;
        margin: 0px 0 -29px 0;
        text-align: center;
        position: relative;
    }

    .timing-title h1 {
        font-size: 3rem;
        color: #2a4b38;
        font-family: "Emilys Candy", serif;
        font-weight: 400;
        position: absolute;
        margin: -5rem 7rem 0rem 0rem;
    }

    .timing-title h2 {
        font-size: 2rem;
        color: #2a4b38;
        font-family: "Emilys Candy", serif;
        font-weight: 400;
        position: absolute;
        margin: 1rem 1rem 0rem 0rem;
    }

    .timing-title h3 {
        font-size: 3rem;
        color: #2a4b38;
        font-family: "Emilys Candy", serif;
        font-weight: 400;
        position: absolute;
        margin: 6rem -9rem 0rem -2rem;
    }

    .timing {
        width: 100%;
        height: 100vh;
        background: #EDE6D6;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0 27px 0;
    }

    .line img {
        width: 8rem;
        height: 750px;
        margin: 9rem 0 9rem 0;
        color: #222b26;
    }

    .plan {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin: 30px 0 50px 0;
    }

    .men {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 11rem;
    }

    .men img {
        width: 13rem;
        margin: -50px 0 -55px 0;
    }

    .men h5 {
        margin: 4px 0 8px 0;
        font-size: 18px;
        color: #2a4b38;
    }

    .men h4 {
        margin: 4px 0 8px 0;
        font-size: 16px;
        color: #2a4b38;
    }

    .men a {
        text-decoration: none;
        color: #2a4b38;
        font-size: 15px;
        border: 1px solid #2a4b38;
        cursor: pointer;
        padding: 5px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    .bride {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 11rem;
    }

    .bride img {
        width: 13rem;
        margin: -55px 0 -52px 0;
    }

    .bride h5 {
        margin: 4px 0 8px 0;
        font-size: 18px;
        color: #2a4b38;
    }

    .bride h4 {
        margin: 4px 0 8px 0;
        font-size: 16px;
        color: #2a4b38;
    }

    .bride a {
        text-decoration: none;
        color: #2a4b38;
        font-size: 15px;
        border: 1px solid #2a4b38;
        cursor: pointer;
        padding: 5px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    .church {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 11rem;
        margin: 45px 0px 45px 0px;
    }

    .church img {
        width: 7rem;
        margin-bottom: 15px;
    }

    .church h5 {
        margin: 4px 0 8px 0;
        font-size: 18px;
        color: #2a4b38;
    }

    .church h4 {
        margin: 4px 0 8px 0;
        font-size: 16px;
        color: #2a4b38;
    }

    .church a {
        text-decoration: none;
        color: #2a4b38;
        font-size: 15px;
        border: 1px solid #2a4b38;
        cursor: pointer;
        padding: 5px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    .event {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 11rem;
    }

    .event img {
        width: 6rem;
        margin-bottom: 4px;
    }

    .event h5 {
        margin: 4px 0 8px 0;
        font-size: 18px;
        color: #2a4b38;
        /* font-family: "Great Vibes", cursive; */
        font-family: "Zain", sans-serif;
    }

    .event h4 {
        margin: 4px 0 8px 0;
        font-size: 16px;
        color: #2a4b38;
        font-family: "Zain", sans-serif;
    }

    .event a {
        text-decoration: none;
        color: #2a4b38;
        font-size: 15px;
        border: 1px solid #2a4b38;
        cursor: pointer;
        padding: 5px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        /* font-family: "Great Vibes", cursive; */
        font-family: "Zain", sans-serif;
    }

    /* timer */

    .timer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #222b26;
    }

    .timer h1 {
        margin-bottom: 5px;
        font-size: 55px;
        color: #EDE6D6;
    }

    .timer h2 {
        margin-bottom: 50px;
        font-size: 25px;
        color: #EDE6D6;
        font-family: "Zain", sans-serif;
        font-weight: 400;
    }

    .countdown {
        display: flex;
        gap: 20px;
        font-size: 2rem;
        text-align: center;
        color: #EDE6D6;
        margin-bottom: 3rem;
    }

    .countdown div {
        box-shadow: 0 -3px 20px 7px rgba(226, 222, 222, 0.1);
        padding: 20px;
        border-radius: 40px;
        min-width: 55px;
    }

    .label {
        font-size: 0.7em;
        color: #EDE6D6;
        margin-top: 10px;
    }

    .detail {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .detail .title {
        color: #EDE6D6;
        font-family: "Emilys Candy", serif;
        font-size: 4rem;
        margin: 3rem 0rem 3rem 0rem;
    }

    .detail .text {
        color: #EDE6D6;
        text-align: center;
        font-size: 21px;
        margin-bottom: 3rem;
    }

    /* RSVP */
    .rsvp {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EDE6D6;
    }

    .form-container {
        background-color: #222b26;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        margin: 7rem 0 7rem 0;
    }

    h2 {
        text-align: center;
        color: #EDE6D6;
    }

    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
        color: #EDE6D6;
    }

    input[type="text"],
    input[type="tel"] {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #EDE6D6;
        margin-top: 5px;
        background: #EDE6D6;
    }

    .radio-group {
        margin: 15px 0;
    }

    .radio-group label {
        font-weight: normal;
        display: block;
    }

    .note {
        font-size: 12px;
        color: rgb(99, 99, 99);
        margin-top: 3px;
    }

    .submit {
        margin-top: 20px;
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 20px;
        background-color: #EDE6D6;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        transition: 0.2s;
    }

    .submit:hover {
        background-color: #222b26;
        color: #EDE6D6;
        border: 2px solid #EDE6D6;
    }

    .success-message {
        display: none;
        text-align: center;
        color: green;
        margin-top: 15px;
        font-weight: bold;
    }